body {
}
/*头部*/
/*.head1{
    margin-top:0;
    margin-bottom:0;
}
a{
    color:#ffffff;
    text-decoration:none;
}
.time{
     color:#ffffff;
}
.aa{
     color:#000;
}
.table{
     margin-top:0;
    margin-bottom:0;
    margin-left:0px;
    margin-right:0px;
}*/